.about {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-bottom: 50px;
}

.about .collapses {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 31px;

}