.collapse {
    width: 100%;
}


.collapse-title {
    background-color: #FF6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.collapse-title h3 {
    color: white;
}

.collapse-text {
    padding: 30px 20px 25px 20px;
    background-color: #F6F6F6;
    border-radius: 5px;

}