header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    align-items: center;

}

.navbar {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap : 57px;

}

.navbar a {
    border: solid 3px transparent;
}

.navbar a:hover {
    border-bottom: solid 3px #FF6060;
}