header {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  align-items: center;
}

.navbar {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  gap: 57px;

  & a {
    border: solid 3px transparent;
  }

  & a:hover {
    border-bottom: solid 3px #ff6060;
  }
}

@media (max-width:768px) {
  .logo{
    height: 40px;
  }

  header {
    padding: 40px 20px;
    flex-direction: column;
    gap: 40px;
  }

  .navbar {
    
    font-size: 20px;
  }
}