footer {
  background-color: black;
  height: 209px;

  & img {
    display: block;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 30px;
  }

  & p {
    color: white;
    text-align: center;
  }
}
