.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &-image {
    grid-row: 1;
    grid-column: 1;
    height: 223px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  &-text {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    color: white;
  }
}

@media (max-width : 768px) {
  .banner-image {
    border-radius: 0;
  }

  .banner-text {
    padding: 20px;
  }
}
